<% if params[:action] == 'pubchem_request' || 'cid_request' %>
<div class="container-flex">
  <div class="row">
    <div class="col-sm-9">
      <%= bootstrap_flash %>
    </div>
  </div>
</div>
<% end %>

<% if @solvent  %>
    <div class="container-flex col-md-12" id="preliminary_result">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="well col-md-9">
          <div class="container col-md-12">
            <div class="row">
              <h4>We found the following solvent on
                <%= link_to (image_tag("PubChem.png", size: "150x38")), @solvent.pubchem_link, target: :_blank %>
              </h4>
            </div>
            <div class="row">
              <div class="col-md-6">
                <dl>
                  <dt>CID:</dt>
                  <dd>
                    <%= @solvent.cid %>
                  </dd>
                  <dt>Molecular Weight:</dt>
                  <dd>
                    <%= @solvent.molecular_weight %> g/mol
                  </dd>
                </dl>
              </div>
              <div class="col-md-6">
                <%= image_tag  @solvent.preferred_abbreviation , size: "200x200"%>
              </div>
            <p><b>Please verify if this is your desired compound.</b></p>
            <div id="message" ></div>
            <%= hidden_field_tag @solvent.id %>
            <button type="button" name="button" class="btn btn-primary" id="reject_button">No (will reject this solvent)</button>
            <%= link_to "Yes (will retrieve full record)", pubchem_full_record_solvents_path(:cid => @solvent.cid), remote: true, class:"btn btn-warning", style:"margin-right: 20px;"%>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>
<script type="text/javascript">
  $(function(){
    $('#reject_button').click(function(){
      $('#preliminary_result').hide()
    });
  });
</script>
