<div class="col-md-12" id="molecule-dblookup">
  <%= form_tag dbsearch_molecules_path, remote: true, method: :get, id: "molecule-dblookup-form" do %>
    <div class="form-group row">
      <div class="col-md-8">
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Enter name of molecule; % serves as wildcard", autofocus: true, class: "form-control search-box" %>
      </div>
      <div class="col-md-1">
        <div id='turboloader'>
          <%= image_tag "preloader/default_trans.gif", size:"32x32"%>
        </div>
      </div>
      <div class="col-md-3">
        <%= button_tag(type: :submit, name:"searchMoleculeButton", class: "btn btn-success btn-lg search_button", onclick: "showLoader('turbo')") do %>
          <%= image_tag "logo-notext-noshadow-white.svg", class:"svg-logo-button"%> Search
        <% end %>
      </div>
    </div>
    <div class="form-group row" id="search_tag_div">
      <div class="col-md-8">
        <%= text_field_tag :tags_param, params[:tags_param], value:nil, id: "search_tag_tokens", autofocus: true, class: "form-control search-box"%>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <%= render 'buttons/editor_search_molecules' %>
      </div>
    </div>
  <% end %>
  <div class="container col-md-12" id='molecule-dbresults'></div>
</div>
