<%= fields_for :in_technique do |technique| %>
<hr>
<div class="form-group">
  <strong class="control-label col-md-12 unit" style="text-align:left;"><u class="technique-panel-label">(Induced) Circular Dichroism</u></strong>
</div>
<div class="form-group">
  <div class="col-md-1">
  <%= link_to render(:partial => 'interactions/info/question_guide', :locals => {:text => "Enter (induced) circular dichroism ((i)CD) value measured at the
given ICD band specified by the wavelength &#120524;. Click for further information in glossary.".html_safe}),
  glossary_url(anchor:'cd'), target: :_blank %>
  </div>
  <div class="col-md-1">
  <%= technique.label :lambda_obs,"&#120524;<sub>obs</sub>".html_safe, :class => 'control-label' %>
  </div>
  <div class="col-md-2">
    <%= technique.text_field :lambda_obs, :class => 'form-control', placeholder: "wavelength", onchange: "checkValidNumber(this)" %>
  </div>
  <div class="control-label col-md-1 unit" style="text-align: left;">
    <strong>nm</strong>
  </div>
  <%=technique.error_span(:lambda_ex) %>

  <%= technique.label :free_to_bound,"<sup>&#120563<sub>bound</sub></sup>&frasl;<sub>&#120563<sub>free</sub></sub>".html_safe, :class => 'control-label col-md-1' %>
  <div class="col-md-4">
    <%= technique.text_field :free_to_bound, :class => 'form-control', placeholder: "e.g. 1.8", onchange: "checkValidNumber(this)" %>
  </div>
  <%=technique.error_span(:free_to_bound) %>

</div>
<% end %>
