<%= fields_for :in_technique do |technique| %>
<hr>
<div class="form-group">
  <strong class="control-label col-md-12 unit" style="text-align:left;"><u class="technique-panel-label">Electron Paramagnetic Resonance</u></strong>
</div>
<div class="form-group">
  <div class="col-md-1">
    <%= link_to render(:partial => 'interactions/info/question_guide', :locals => {:text => "Enter the magnetic field strength B, which was monitored, or the ratio of magnetic field strengths of the bound species and the free species. Click for further information in glossary.".html_safe}),
    glossary_url(anchor:'epr'), target: :_blank %>
  </div>
  <div class="col-md-1">
  <%= technique.label :magnetic_flux_obs,"<em>B</em><sub>obs</sub>".html_safe, :class => 'control-label col-md-1' %>
  </div>
  <div class="col-md-2">
    <%= technique.text_field :magnetic_flux_obs, :class => 'form-control', placeholder: "field strength", onchange: "checkValidNumber(this)" %>
  </div>
  <%=technique.error_span(:magnetic_flux_obs) %>
  <div class="control-label col-md-1 unit" style="text-align: left;">
    <strong>G</strong>
  </div>

  <%= technique.label :free_to_bound,"<sup><em>B</em><sub>bound</sub></sup>&frasl;<sub><em>B</em><sub>free</sub></sub>".html_safe, :class => 'control-label col-md-1' %>
  <div class="col-md-4">
    <%= technique.text_field :free_to_bound, :class => 'form-control', placeholder: "e.g. 1.8", onchange: "checkValidNumber(this)" %>
  </div>
  <%=technique.error_span(:free_to_bound) %>

</div>
<% end %>
