<div class="col-md-12" >
  <h3 style="margin-top: 30px; margin-bottom: 20 px">PDB powered search <%= link_to (image_tag("logos/rcsb_logo.png", size: "138x38")), "https://www.rcsb.org/", target: :_blank, class:"pull-right" %> </h3>
</div>
<div class="col-md-12">
  <br>
</div>
<div class="" id="cidmolecule-lookup">
  <%= form_tag pdb_id_request_molecules_path, remote: true, method: :get, id: "cidmolecule-lookup-form" do %>
  <div class="form-group row">
    <div class="col-md-8">
      <%= text_field_tag :pdb_id, params[:pdb_id], placeholder: "by PDB ID e.g. 4HHB", autofocus: true, class: "form-control search-box" %>
    </div>
    <div class="col-md-1">
      <div id="cidloader">
        <%= image_tag "preloader/default_trans.gif", size:"32x32"%>
      </div>
    </div>
    <div class="col-md-3">
      <%= button_tag(type: :submit, class: "btn btn-primary search_button", onclick: "showLoader('cid')") do %>
        <i class="fa fa-search"></i> Search by PDB ID
      <% end %>
    </div>

  </div>
  <% end %>
  <div class="container col-md-12" id='cidresults'>
    <%= render 'molecules/result' %>
  </div>

</div>
