<fieldset>

    <div class="form-group">
      <div class="row contributor_information">
        <div class="col-md-12">

          <p class="alert alert-info">Start adding the family name of your peer. SupraBank tries to find her/him in its own databases. If not present, you can fill the appropriate fields, SupraBank will assist you.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ">

          <%= f.label :contributor_familyName, "Family name (last name) of the person" , class:"bootstrap-label"%>
          <%= f.text_field :contributor_familyName , :class => 'form-control contributor_familyName' %>
          <%= f.label :contributor_givenName, "Given name (first name) of the person" , class:"bootstrap-label"%>
          <%= f.text_field :contributor_givenName , :class => 'form-control contributor_givenName'%>
          <%= f.label :contributorType, "Contributor Type" , class:"bootstrap-label"%>
          <%= f.select :contributorType, options_for_select(DatasetContributor.contributorTypes.map {|key, value| [key.titleize, DatasetContributor.contributorTypes.key(value)]}, selected: f.object.contributorType), {}, { class: 'dropdown form-control' } %>
        </div>
        <div class="col-md-6">
          <%= f.label :contributor_nameIdentifier, "ORCID |" , class:"bootstrap-label"%> <a class="nameIdentifier_paragraph" target="_blank" href="https://orcid.org/<%= f.object.contributor_nameIdentifier %>"> <%= image_tag "logos/orcid.png", size: "16x16" %> </a> <%= link_to 'Let SupraBank search for the ORCID', orcid_modal_contributors_path, { :remote => true, method: :post, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', :class => "label label-success pull-right modal_request_contributor"}  %>
          <%= f.text_field :contributor_nameIdentifier , :class => 'form-control contributor_nameIdentifier nameIdentifier' %>

          <%= f.label :contributor_affiliation , class:"bootstrap-label"%> | <%= image_tag "logos/ror.png", size: "16x16" %> <a class="affiliationIdentifier_paragraph" target="_blank" href=<%= f.object.contributor_affiliationIdentifier %>> <%= f.object.contributor_affiliationIdentifier %> </a>
          <%= f.text_field :contributor_affiliation, :class => 'form-control contributor_affiliation' %>

          <%= f.hidden_field :contributor_affiliationIdentifier, class:"contributor_affiliationIdentifier" %>

        </div>
      </div>

    </div>

    <div class="form-group">

      <div class="row">
        <div class="col-md-6">
          <%= f.hidden_field :_destroy %>
          <%= link_to 'Remove this contributor', '#', class: 'remove_contributor_fields btn btn-danger', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => ' You will remove this contributor!')) } %>
        </div>

      </div>
    </div>
<hr>
  </fieldset>
