<tr>

</tr>
<% number = 0 %>
<% for intsol in @interaction.interaction_solvents do %>
<tr>
  <td  class="no_top_border col-md-2">
  <% if number == 0 %>
    <strong >Solvents</strong>
  <% end %>
  </td>
  <td class="col-md-2">
    <span class="has-js-popover" data-toggle="popover" title="Structure"
    data-content='
    <div class="">
      <% if intsol.solvent.present? %>
      <%= image_tag intsol.solvent.png_url, size: "250x250"%>
      <% end %>
    </div>
    ' >
    <%= truncate(intsol.solvent.display_name, length: 30) if intsol.solvent %>
  </span>
  </td>
  <% if intsol.volume_percent.present? %>
    <td class="col-md-2">
      <span class="has-tooltip" data-toggle="tooltip" title="Percentage by volume"><%= intsol.volume_percent %> %</span>
    </td>
  <% end %>
</tr>
<% number = number+1 %>
<% end %>
<% if @interaction.interaction_additives.present? %>
  <% number = 0 %>
  <% for intsol in @interaction.interaction_additives do %>
  <tr>
    <td  class="no_top_border col-md-1">
    <% if number == 0 %>
      <strong >Additives</strong>
    <% end %>
    </td>
    <td class="col-md-2">
      <span class="has-js-popover" data-toggle="popover" title="Structure"
      data-content='
      <div class="">
        <% if intsol.additive.present? %>
        <%= image_tag intsol.additive.png_url, size: "250x250"%>
        <% end %>
      </div>
      ' >
      <%= truncate(intsol.additive.display_name, length: 30) if intsol.additive %>
    </span>
    </td>
    <% if intsol.concentration.present? %>
      <td class="col-md-2">
        <span class="has-tooltip" data-toggle="tooltip" title="Percentage by volume"><%= intsol.concentration %> %</span>
      </td>
    <% end %>
  </tr>
  <% number = number+1 %>
  <% end %>
<% end %>
<% if @interaction.pH.present? %>
  <tr>
    <td  class="no_top_border col-md-1"><strong >pH</strong></td>
    <td class="col-md-2"><%= @interaction.pH %> </td>
  </tr>
<% end %>
<% if @interaction.solubility.present? %>
  <tr>
    <td class="col-md-1 no_top_border"><strong>Solubility</strong></td>
    <td class="col-md-1"><span><%= @interaction.solubility %> </span> mM</td>
  </tr>
<% end %>
