<div class="col-md-12">
  <hr>
</div>

<div class="" id="cidadditive-lookup">
  <%= form_tag cid_request_additives_path, remote: true, method: :get, id: "cidadditive-lookup-form" do %>
  <div class="form-group row">
    <div class="col-md-8">
      <%= text_field_tag :cidadditive, params[:cidadditive], placeholder: "by CID", autofocus: true, class: "form-control search-box" %>
    </div>
    <div class="col-md-1">
      <div id="cidloader">
        <%= image_tag "preloader/default_trans.gif", size:"32x32"%>
      </div>
    </div>
    <div class="col-md-3">
      <%= button_tag(type: :submit, class: "btn btn-primary search_button", onclick: "showLoader('cid')") do %>
        <i class="fa fa-search"></i> Search by CID
      <% end %>
    </div>
  </div>

  <% end %>
  <div class="container col-md-12" id='cidresults'>
    <%= render 'additives/result' %>
  </div>

</div>
