  <div class="panel panel-success">
    <div class="panel-heading">
      <span class="panel-title"><i class="fas fa-sitemap"></i> Protein Properties</span>
    </div>
    <div class="panel-body">
      <table class="col-md-12 table table-responsive interaction_properties ">
        <tbody >
            <tr>
              <td colspan="2" class="no_top_border"><strong>Interactions: </strong></td>
              <td colspan="2" class="no_top_border">
                  <% if object.present? %>
                    <% overall_interactions_size = (Interaction.active.where(molecule:object) +  Interaction.active.where(host:object)).uniq.size + Interaction.active.where(indicator:object).size + Interaction.active.where(conjugate:object).size %>
                    <%= link_to overall_interactions_size, {controller: "molecules", action: 'interactions', id: object.id}, class:'badge'%>
                  <% end %>
              </td>
            </tr>

          <tr>
            <td colspan="2" class="no_top_border" ><strong>PDB-ID:</strong></td>
            <td colspan="2" class="no_top_border"><%= object.pdb_id %> </td>
          </tr>

          <tr>
            <td colspan="2" class="no_top_border" ><strong>Descriptor:</strong></td>
            <td colspan="2" class="no_top_border"><%= object.pdb_descriptor %> </td>
          </tr>
          <tr>
            <td colspan="2" class="no_top_border" ><strong>Classification:</strong></td>
            <td colspan="2" class="no_top_border"><%= object.pdb_keywords %> </td>
          </tr>
          <tr>
            <td colspan="2" class="no_top_border" ><strong>Total Structure Weight / kDa</strong></td>
            <td colspan="2" class="no_top_border"><%= object.total_structure_weight %> </td>
          </tr>
          <tr>
            <td colspan="2" class="no_top_border"><strong>Atom Count: </strong></td>
            <td colspan="2" class="no_top_border"><%= object.atom_count %> </td>
          </tr>
          <tr>
            <td colspan="2" class="no_top_border"><strong>Residue Count: </strong></td>
            <td colspan="2" class="no_top_border"><%= object.residue_count %> </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
