<hr>
<div class="form-group">
  <div class="col-md-1">
    <%= link_to render(:partial => 'interactions/info/question_guide', :locals => {:text => "cofactor: molecule, which is prebound to the host (see Glossary).
        Click here to preload it to the Suprabank's molecule database."}), molecules_path, target: :_blank %>
  </div>
  <div class="col-md-1">
    <%= f.label :conjugate_name, "Cofactor", :class => 'control-label form-label' %>
  </div>
  <div class="col-md-3">
    <%= f.text_field :conjugate_name, :class => 'form-control' , placeholder:  "#{@interaction.conjugate.present? ? @interaction.conjugate.display_name : 'live search'}", data: {autocomplete_source: query_molecules_path }%>
  </div>
  <%= f.hidden_field_tag :cofactor_molecule_type %>
  <label class="pull-left col-md-1 mw-label" id="mol_weight_conjugate"></label>
  <%= hidden_field_tag "mol_weight_conjugate_hidden" %>
  <%= f.error_span(:conjugate_name) %>
  <div class="col-md-4" id="conjugate_fixed">
    <%= f.text_field :lower_conjugate_concentration, :class => 'form-control',  placeholder:"[start]  &#181;mol/L".html_safe, onchange: "checkValidNumber(this),checkConcRelation(),removeCalculatedClassITC(this),calculateConcFromITC('conjugate')" %>
  </div>
  <div class="col-md-2 dynamic-interaction-panel" id="conjugate_varied">
    <%= f.text_field :upper_conjugate_concentration, :class => 'form-control', placeholder:"[end]  &#181;mol/L".html_safe, onchange: "checkValidNumber(this),checkConcRelation(),removeCalculatedClassITC(this),calculateConcFromITC('conjugate')" %>
  </div>
  <label class="control-label col-md-1 unit">&#181;M</label>
  <div class="radio col-md-1">
    <label class="single_variation_selection_label"><%= radio_button_tag "single_variation_selection", 'conjugate', false, class: "single_variation_selection custom_radio" %><span></span></label>
    <label class="multiple_variation_checkbox_label"><%= check_box_tag "multiple_variation_selection", "conjugate", false, {class: "multiple_variation_checkbox custom_checkbox" }  %><span></span></label>
  </div>
</div>
<div class="form-group">
  <div class="col-md-10 col-md-offset-2" id="empty-message-conjugate">
  </div>
</div>
<div class="form-group" id="host_cofactor_wt_panel">
  <div class="col-md-1">
    <%= render(:partial => 'interactions/info/question_guide', :locals => {:text => "Often the concentration of the preloaded cofactor is determined in weight percent (wt%) in relation to the framework (partner), when frameworks are used.".html_safe}) %>
  </div>
  <div class="col-md-2">
    <%= f.label :host_cofactor_wt, "Cofactor/Partner wt%", :class => 'control-label form-label' %>
  </div>
  <div class="col-md-2">
    <%= f.text_field :host_cofactor_wt, :class => 'form-control' %>
  </div>
</div>
