<% if interaction.molecule.present? %>
<span style="display: none"> <%= interaction.molecule.preferred_abbreviation.present? ? interaction.molecule.preferred_abbreviation.truncate(15) : truncate(interaction.molecule.display_name, length: 15)%> </span>
<span class="has-tooltip" data-toggle="ajax-tooltip" title="<%= truncate(interaction.molecule.display_name, length: 30) %>">
  <span class="has-js-popover name_popover_molecule"  data-container="body" data-toggle="ajax-popover" title= "<span class='text-info'><strong>Name</strong></span>
        <button type='button' id='close' class='close' onclick='$(&quot;.name_popover_molecule&quot;).popover(&quot;hide&quot;);' > &times;</button>"
        style=""
  data-content='
  <div class="center structure-image-panel">
    <input type="checkbox" id="zoomCheck" class="zoomCheck">
    <label for="zoomCheck">
    <%= "#{interaction.molecule.display_name}" %>
    </label>
          <p><%= link_to "Show all information", molecule_path(interaction.molecule), target:"_blank" %></p>
  </div>
  ' >
      <%= image_tag interaction.molecule.png_url, class: 'interaction-structure-image'%>
  </span>
</span>
<% end %>
